@charset "UTF-8";
@font-face {
  font-family: 'SeoulNamsanM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

::-moz-selection {
  background-color: #6667ab;
  color: #fff;
}

::selection {
  background-color: #6667ab;
  color: #fff;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'SeoulNamsanM';
  color: #333;
  border-bottom: 10px solid #6667ab;
  word-break: keep-all;
}

.profile h3 {
  font-size: 1.5rem;
}

.profile h4 {
  font-size: 1.3rem;
}

.profile .wrap {
  max-width: 800px;
  margin: 10rem 2rem 0;
}

.profile .top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 1em;
  text-align: center;
  background: #6667ab;
  background: linear-gradient(-45deg, #6667ab 0%, #a0a2cd 100%);
  font-weight: 600;
  letter-spacing: 0.08em;
}

.profile .top p {
  color: #fff;
}

.profile .title {
  margin: 7rem 0 4rem;
  font-size: 2.2rem;
}

.profile .title span {
  padding: 1rem 1em 0.3em 0.2em;
  padding-bottom: 0.3em;
  border-bottom: 3px solid #6667ab;
}

.profile .btn {
  display: inline-block;
  position: relative;
  margin-right: 1em;
  padding: 0.5em;
  background-color: #f5f5f5;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.profile .btn::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #6667ab;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.profile .btn:hover {
  background-color: #fff;
}

.profile .btn:hover::after {
  width: 100%;
}

.profile .print {
  display: none;
}

.profile .tech_stack li {
  display: inline-block;
  margin-bottom: 1em;
  padding: 0.2em 1em;
  border-radius: 0.5em;
  font-size: 1rem;
  color: #444;
  background-color: #6667ab;
  color: #fff;
  letter-spacing: 0.05em;
}

.personal_info .header {
  padding-bottom: 1.2rem;
  margin-bottom: 2.5rem;
  border-bottom: 3px solid #6667ab;
}

.personal_info .header div {
  position: relative;
}

.personal_info .header h1 {
  font-size: 4rem;
}

.personal_info .header .home_btn {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 0.5em 0.7em;
  background-color: #6667ab;
  border-radius: 0.5em;
  color: #fff;
  font-size: 1.4rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.personal_info .intro {
  font-size: 1.5rem;
  line-height: 1.7;
}

.personal_info .info {
  margin-top: 3em;
}

.personal_info .info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.6em 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.personal_info .info div .link_name {
  display: inline-block;
  position: relative;
  margin-right: 1em;
  padding: 0.5em;
  background-color: #f5f5f5;
  font-weight: 600;
  font-size: 1rem;
  vertical-align: middle;
}

.personal_info .info div .link_name .icon {
  margin-left: 0.2em;
}

.skills .skill + .skill {
  margin-top: 3em;
}

.skills .skill .skill_name {
  display: inline-block;
  font-weight: 900;
  font-size: 1.3rem;
  color: #6667ab;
  letter-spacing: 0.08em;
}

.skills .skill .skill_detail {
  margin: 1em;
}

.skills .skill .skill_detail li {
  line-height: 1.8;
  font-size: 1.1rem;
  color: #444;
}

.skills .skill .skill_detail li::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 0.8em;
  background-color: #999;
  vertical-align: middle;
}

.project + .project {
  margin-top: 3em;
  padding-top: 3em;
  border-top: 1px solid #e1e1e1;
}

.project .project_name h3 {
  font-size: 1.5rem;
  letter-spacing: 0.03em;
}

.project .project_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 2.2em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.project:nth-child(even) .project_content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.project:nth-child(odd) .disc {
  margin-left: 3rem;
}

.project img {
  max-width: 300px;
  padding: 0.2em;
  border: 2px solid #6667ab;
}

.project .project_intro {
  margin-top: 0.5em;
  color: #666;
}

.project .btn_box {
  margin-top: 1.2em;
}

.project .detail {
  margin-top: 0.5em;
}

.project .detail p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.8em;
  font-size: 1.1rem;
}

.project .detail p::before {
  content: '✔';
  margin: 0 1em 0 0.6em;
  color: #6667ab;
  vertical-align: middle;
  font-weight: 700;
  font-size: 0.8em;
}

.work_experience .experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work_experience .experience + .experience {
  margin-top: 2em;
}

.work_experience .experience .company_info {
  margin-right: 3em;
}

.work_experience .experience .company_info .period {
  margin-top: 1.5em;
  line-height: 1.6;
  font-size: 1.1rem;
  color: #999;
  letter-spacing: 0.05em;
}

.work_experience .experience .work_detail h4 {
  margin: 1em 0.4em;
  font-weight: 400;
  color: #666;
  letter-spacing: 0.06em;
}

.work_experience .experience .work_detail p {
  line-height: 1.7;
  font-size: 1em;
  color: #666;
}

.work_experience .experience .work_detail ul {
  padding: 0 1em;
}

.work_experience .experience .work_detail ul li {
  line-height: 1.6;
}

.work_experience .experience .work_detail ul ul {
  margin: 0.5em 0;
}

.work_experience .experience .work_detail ul ul li {
  line-height: 1.6;
}

.work_experience .experience .work_detail ul ul li::before {
  content: '-';
  margin-right: 0.5em;
  color: #999;
}

.work_experience .experience .work_detail > ul > li::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  margin-right: 0.2em;
  background-color: #999;
  vertical-align: middle;
}

.page {
  display: none;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media print {
  .profile .top {
    position: absolute;
  }
  .profile .print {
    display: block;
  }
  .personal_info .info div .link_name .icon {
    display: none;
  }
  .skill .skill_name,
  .projects .title {
    padding-top: 1px;
  }
  .work_experience .title {
    padding-top: 2px;
  }
  .page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media print, screen and (max-width: 68.25rem) {
  .project img {
    max-width: 220px;
  }
}
/*# sourceMappingURL=style.css.map */
