@font-face {
  font-family: 'SeoulNamsanM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// common
$font: 'SeoulNamsanM';
$mobile-size: 68.25rem;

// colors
$veri-peri: #6667ab;
$light-veri-peri: #acaedf;
$white: #fff;
$while-smoke: #f5f5f5;
$cloudy: #e0e0e0;
$dark-grey: #333;
$grey: #666;
$ligth-grey: #999;

// tech_skills icon size
$icon-size-defualt: 3.6rem;
$icon-size-small: $icon-size-defualt * 0.85;

::selection {
  background-color: $veri-peri;
  color: $white;
}

.profile {
  display: flex;
  justify-content: center;
  font-family: $font;
  color: $dark-grey;
  border-bottom: 10px solid $veri-peri;
  word-break: keep-all;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: 0.03em;
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  h5 {
    font-size: 1.15rem;
  }
  h6 {
    font-size: 1rem;
  }

  .main {
    max-width: 850px;
    margin: 10rem 2rem 5rem;
  }

  .top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background: $veri-peri;
    background: linear-gradient(-45deg, rgba(102, 103, 171, 1) 0%, rgba(160, 162, 205, 1) 100%);
    font-weight: 600;
    letter-spacing: 0.08rem;

    p {
      color: $white;
    }
  }

  .section_title {
    margin: 8rem 0 4rem;

    span {
      padding: 0 1rem 0.3rem 0.2rem;
      padding-bottom: 0.3rem;
      border-bottom: 3px solid $veri-peri;
    }
  }

  .btn {
    display: inline-block;
    position: relative;
    margin-right: 1rem;
    padding: 0.5rem;
    background-color: $while-smoke;
    transition: background-color 0.3s;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $veri-peri;
      transition: width 0.3s;
    }

    &:hover {
      background-color: $white;

      &::after {
        width: 100%;
      }
    }
  }

  .print {
    display: none !important;
  }

  .labels {
    margin: -0.2rem -0.1rem;

    .label {
      display: inline-block;
      margin: 0.2rem 0.1rem;
      padding: 0.2rem 0.6rem;
      border-radius: 0.5rem;
      font-size: 1rem;
      background-color: $veri-peri;
      color: $white;
      letter-spacing: 0.05rem;

      &.sm {
        padding: 0.1rem 0.5rem;
        font-size: 0.8rem;
      }
    }
  }
}

.personal_info {
  .header {
    padding-bottom: 1.2rem;
    margin-bottom: 2.5rem;
    border-bottom: 3px solid $veri-peri;

    div {
      position: relative;
    }

    .home_btn {
      position: absolute;
      top: 50%;
      right: 0;
      padding: 0.5rem 0.7rem;
      background-color: $veri-peri;
      border-radius: 0.5rem;
      color: $white;
      font-size: 1.4rem;
      transform: translateY(-50%);
    }
  }

  .intro {
    font-size: 1.3rem;
    line-height: 1.7;
  }

  .info {
    margin-top: 3rem;

    & > div {
      display: flex;
      margin: 0.6rem 0;
      align-items: center;

      .info_name {
        display: inline-block;
        position: relative;
        margin-right: 1rem;
        padding: 0.5rem;
        background-color: $while-smoke;
        font-weight: 600;
        font-size: 1rem;
        vertical-align: middle;
      }

      .icon {
        margin-right: 0.5rem;
      }
    }
  }
}

.tech_skills {
  .category {
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;

    & + .category {
      padding-top: 2rem;
      border-top: 1px solid $cloudy;
    }
  }

  .sub_category {
    width: 100%;
    margin-top: 2rem;
    padding: 0 2rem;
  }

  .techs {
    display: grid;
    width: 100%;
    gap: 1rem 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1.8rem;

    li {
      display: flex;

      &:nth-child(3n + 1) {
        margin-left: 0;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  .card {
    width: 100%;
    padding: 1.5rem 0.5rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
  }

  .tech_icons {
    .icon {
      width: 2.2rem;
    }

    .icon + .icon {
      margin-left: 0.5rem;
    }

    .githubPages {
      padding: 0.2rem 0.5rem;
      display: inline-block;
      width: 5rem;
      border-radius: 0.5rem;
      background-color: #2e71af;
    }
  }

  .card_main {
    .tech_title {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        width: $icon-size-defualt;
        margin-right: 0.7rem;

        &.small {
          width: $icon-size-small;
        }
      }
    }

    .tech_desc {
      margin-top: 1rem;
      padding: 0 1rem;
      line-height: 1.5;
    }
  }

  .card_sub {
    padding: 0 0.5rem;
    margin-top: 2rem;

    .related_techs {
      padding: 1rem;
      border-top: 1px solid $cloudy;

      .tech_icons {
        margin-top: 1rem;
      }
    }

    .names {
      margin-top: 0.5rem;
      line-height: 1.3;

      span {
        display: inline-block;
        word-break: keep-all;

        &:not(:last-of-type)::after {
          content: ',';
          margin-right: 0.3rem;
        }
      }
    }
  }
}

.project {
  margin-bottom: 3rem;

  & + .project {
    padding-top: 2rem;
    border-top: 1px solid $cloudy;
  }

  .project_title {
    display: flex;
    align-items: center;

    .page_links {
      margin-left: 2rem;
    }
  }

  .project_contents {
    display: flex;
    width: 100%;
    margin-top: 2.2rem;
  }

  &:nth-child(even) .project_contents {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .project_thumbnail {
    display: flex;
    align-items: center;

    img {
      max-width: 18.75rem;
      padding: 0.3rem;
      border: 3px solid $veri-peri;
    }
  }

  &:nth-child(odd) .project_info {
    margin-left: 3rem;
  }

  &:nth-child(even) .project_info {
    margin-right: 1rem;
  }

  .project_info {
    width: 100%;

    & > ul > li {
      display: flex;
      align-items: flex-start;

      & + li {
        margin-top: 2rem;
      }

      &.page_links h5 {
        line-height: 2;
      }

      h5 {
        flex: 0 0 8rem;
        word-break: keep-all;
        white-space: nowrap;
      }
    }

    .features {
      li {
        display: flex;
        font-size: 1.1rem;
        line-height: 1.5;

        &::before {
          content: '✔';
          margin-right: 0.5rem;
          color: $veri-peri;
          vertical-align: middle;
          font-weight: 700;
          font-size: 0.8rem;
        }

        & + li {
          margin-top: 0.4rem;
        }
      }
    }
  }
}

.work_experience {
  .experience {
    display: flex;

    & + .experience {
      margin-top: 2rem;
    }

    .company_info {
      margin-right: 3rem;

      .period {
        margin-top: 1.5rem;
        line-height: 1.6;
        font-size: 1.1rem;
        color: $ligth-grey;
        letter-spacing: 0.05rem;
      }
    }

    .work_detail {
      h4 {
        margin: 1rem 0.4rem;
        font-weight: 400;
        letter-spacing: 0.06em;
      }

      p {
        line-height: 1.7;
        font-size: 1rem;
        color: $grey;
      }

      ul {
        padding: 0 1rem;

        li {
          line-height: 1.6;
        }

        ul {
          margin: 0.5rem 0;

          li {
            line-height: 1.6;

            &::before {
              content: '-';
              margin-right: 0.5rem;
              color: $ligth-grey;
            }
          }
        }
      }

      & > ul > li::before {
        content: '';
        display: inline-block;
        width: 4px;
        height: 4px;
        margin-right: 0.2rem;
        background-color: $ligth-grey;
        vertical-align: middle;
      }
    }
  }
}

@media print {
  html {
    font-size: 14px;
  }
  $icon-size-defualt: 2.5rem;
  $icon-size-small: $icon-size-defualt * 0.8;

  .profile {
    .main {
      margin-top: 7rem;
      margin-bottom: 2rem;
    }

    .top {
      position: absolute;
    }

    .print {
      display: block !important;
    }

    .no_print {
      display: none !important;
    }

    .section_title {
      margin: 7rem 0 3rem;
    }

    .labels .label {
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
    }
  }

  .tech_skills {
    .category {
      margin-bottom: 1.5rem;
    }

    .other_techs {
      margin-bottom: 0;
    }

    .techs {
      display: block;
      margin-top: 0.8rem;
    }

    .card {
      padding-top: 1rem;
      padding-bottom: 1rem;
      box-shadow: none;
      text-align: left;
    }

    .card_main {
      display: flex;
      align-items: flex-start;

      .tech_title {
        flex: 0 0 12rem;
        justify-content: flex-start;

        .icon {
          width: $icon-size-defualt;

          &.small {
            width: $icon-size-small;
          }
        }
      }

      .tech_desc {
        margin: 0;
        padding: 0.5rem 0;
      }
    }

    .card_sub {
      margin: 0;
      padding: 0 0 0 12rem;

      .related_techs {
        display: inline-flex;
        align-items: center;
        padding: 1rem;
        border: 1px solid $cloudy;
        border-radius: 0.3rem;

        .names {
          margin: 0 0 0 1rem;
        }
      }
    }
  }

  .projects {
    .project {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 2rem;

      .project_contents {
        display: block;
        margin-top: 1.2rem;
      }

      .project_thumbnail {
        width: 18rem;
      }

      .project_info {
        margin: 0;

        & > ul > li + li {
          margin-top: 1.3rem;
        }

        h5 {
          margin-bottom: 0;
        }
      }

      .features,
      .labels {
        padding: 0 1rem;
      }
    }
  }
}

@media print, screen and (max-width: $mobile-size) {
  .project {
    img {
      max-width: 220px;
    }
  }
}
